In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('Salary_Data.csv')
X = df.iloc[:,0]
y = df.iloc[:,1]
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=1/3.0, random_state=0)
X_train = X_train.values.reshape(-1,1)

In [4]:
from sklearn import linear_model
regressor = linear_model.LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [5]:
fig = plt.figure(figsize=12,8)
plt.scatter(X_train, y_train)
plt.plot(np.arrange(0,12,0.3))
regressor.predict(np.arrange(0,12,0.3).reshape(-1,1), color='red')
plt.title('Salary vs Experience')
plt.xlabel('Years of Esperience')
plt.ylabel('Salary')
plt.show()

SyntaxError: positional argument follows keyword argument (2803762631.py, line 1)